.container{
    padding: 0px 60px 0px 60px;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-height: 90px;
  width: 100%;
  background-color: #f2a766;
}

.menus ul {
    display: flex;
    gap: 20px;
}

.menus li {
  color: #5C1C0D;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  padding: 5px;
}


.divulgacao h2 {
  color: #f2a766;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.divulgacao p {

  font-size: 14px;
  text-align: justify;
  color: white;
  margin: 0 auto;
}

.divulgacao {
  margin-top: 60px;
  padding: 30px;
  padding-left: 60px;
  background-color: #D9663D;
  min-width: 275px;
  width: 25%;
  max-width: 325px;
  min-height: 500px;
  border-radius: 0px 20px 20px 0px;

}



